.feature--container {
    max-width: 1140px;
    margin: 0 auto;
}

.feature {
    display: grid;
    border-bottom: 1px solid #ccc;
}

.feature__image {
    display: none;
}

.feature__title { margin-bottom: 2.5rem;}

.feature__text {
    margin-bottom: 3rem;
    line-height: 3rem;
}

.feature__details {margin-top: 4rem;}

.feature {
    .btn {padding: 1.2rem 3rem;}
}

@media screen and (min-width: 1024px) {
    .feature {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 4rem;
        margin-top: 4rem;
        border-bottom: none;
    }
    .feature__image {
        display: block;
        order: 2;
        margin-right: 8rem;
        width: 100%;
        img {
            width: 400px;
        }
    }
    .feature__details {
        order: 1;
        margin-top: 0;
    }
}
