@font-face {
    font-family: 'iranYekan';
    font-weight: 400;
    font-style: normal;
    src: url("../assets/fonts/iranyekanwebregular.woff") format('woff');
}

@font-face {
    font-family: 'iranYekan';
    font-weight: 700;
    font-style: normal;
    src: url("../assets/fonts/iranyekanwebmedium.woff") format('woff');
}

@font-face {
    font-family: 'yekanBakh';
    font-weight: 700;
    font-style: normal;
    src: url("../assets/fonts/YekanBakhBold.woff") format('woff');
}

