.main-header {
    background-color: var(--color-navbar);
    font-family: 'iranYekan';
}

.nav-container {
    max-width: 1140px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
}

.nav__list {
    width: 100%;
    font-size: 1.4rem;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-out;
    a {
        text-decoration: none;
        color: #000;
        display: block;
        border-bottom: 1px solid #ccc;
        padding-bottom: 1rem;
        margin-top: 2rem;
    }
    .btn {
        width: 100%;
    }
}

.nav__item {a:hover {color: var(--color-primary);}}

.logo {img {cursor: pointer;}}

.nav__item .btn { padding: 1rem 2rem;}

.btn__container { text-align: center;}

.nav__toggler {
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #000;
    transition: all 0.4s ease-out;
}

.nav__menu {
    max-height: 100vh;
    z-index: 100;
    opacity: 1;
}

.nav__open {
    .bar-one {
        transform: rotate(-45deg) translate(-9px, 6px);
        margin: 8px 0;
    }
    .bar-two {
        opacity: 0;
        transform: translateX(-20px);
    }
    .bar-three {
        transform: rotate(45deg) translate(-8px, -8px);
        margin: 8px 0;
    }
}

@media screen and (min-width: 768px) {
    .nav__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
        background-color: var(--color-navbar);
        overflow: none;
        max-height: none;
        li {
            a {
                font-size: 1.7rem;
                display: inline;
                border: none;
                padding: 0;
                margin: 0;
                margin-left: 4rem;

            }
        }
    }
    .nav__toggler {
        display: none;
    }
}