.main-header {
    background-color: var(--color-navbar);
    font-family: 'iranYekan';
}

.nav-container {
    max-width: 1140px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
}

.nav__list {
    width: 100%;
    background-color: #e4dfdf;
    font-size: 1.4rem;
    a {
        text-decoration: none;
        color: #000;
        display: block;
        text-align: center;
        margin-top: 2rem;
    }
    .btn {
        width: 100%;
    }
}

.nav__item {
    a:hover {color: var(--color-primary);}
}

.logo {
    img {cursor: pointer;}
}

.nav__item .btn {
    padding: 1rem 2rem;
}

.btn__container {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .nav__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
        background-color: var(--color-navbar);
        li {
            a {
                margin-left: 3rem;
                font-size: 1.7rem;
                display: inline;
            }
        }
    }

    .menu {
        display: none;
    }

}