.services-container {
    max-width: 1140px;
    margin: 0 auto;
}

.services {
    margin-top: 10rem;
}

.services__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.services__tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    padding: 5px 0 15px;
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100px;
        img {
            max-width: 85px;
            cursor: pointer;
        }
        p {
            margin-top: 1.5rem;
            font-size: 1.2rem;
        }
    }
}

.services__tabs {
    .tab {
        opacity: 0.5;
        cursor: pointer;
        transition: all 0.2s ease-out;
    }
    .tab:hover {
        opacity: 1;
    }
}


@media screen and (min-width: 1024px) {
    .services__tabs {
        a {
            p {
                margin-top: 1rem;
                font-size: 1.4rem;
            }
        }
    }
    .services__title {
        font-size: 2.5rem;
        margin-bottom: 30px;
    }
}